<h1>My tasks</h1>
<ul class="list-group">
<% @tasks.each do |task| %>
  <li class='list-group-item'>
    <% if task.completed %>
      <i class="fa fa-check-square-o"></i>
        <% else %>
      <i class="fa fa-square-o"></i>
    <% end %> |
    <%= link_to task.title, task_path(task) %> |
    <%= link_to fa_icon('trash'),
                task_path(task),
                method: :delete,
                data: { confirm: "Are you Sure?"} %></li>
<% end %>
</ul>
<hr>
<%= link_to 'Add a new task', new_task_path, class: 'btn btn-primary' %>
